@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
}
.banner-container{
   max-width:1320px ; 
    margin: 0 auto;
    border: 2px solid green;
    height: 600px;
margin-top: 20px;
background-color: rgba(0,0,0,0.4);
background-image: url(../images/Banner\ Image.png);
background-repeat: no repeat;
background-position: center;
background-size: cover;
background-blend-mode: overlay;
border-radius: 16px;

}
.title-banner{
font-size: 32px;
}
.subtitle-banner{
font-size: 72px;

}
.banner-contant{
    color:white;
    padding: 177px 344px;
    text-align: center;
}
.section-container{
    /* width: 802px;
    height: 806px; */
    margin: 120px 399px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .h1{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
   }
   .p{
    
    font-size: 16px;
    color: #FF0000;
margin-top: 20px;
   }
   .h3{
    font-size: 40px;
    color: #070211;
    font-weight: bold;
   }